@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?se2lnw');
    src:  url('../fonts/icomoon.eot?se2lnw#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?se2lnw') format('truetype'),
      url('../fonts/icomoon.woff?se2lnw') format('woff'),
      url('..//icomoon.svg?se2lnw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.header{
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.4);
    color:#fff;
}
.header a{
   color:#fff;
}
.header li{
    float: left;
    margin:8px 30px;
    font-size:17px;
    color:#fff;
}
.header .ps_date::before{
    content:"\e907";
    font-family: 'icomoon';
    font-size:35px;
    margin-right: 3px;
}
.header .hometown::before{
    content:"\e902";
    font-family: 'icomoon';
    font-size:35px;
    margin-right: 3px;
}
.header .market::before{
    content:"\e9a8";
    font-family: 'icomoon';
    font-size:35px;
    margin-right: 3px;
}
.reg_sign{
    float: right;
    margin:20px 30px;
    font-size:20px;
}
.reg_sign a{
    color:#57a2f8;
}







body{
    width: 100%;
    min-height:100vh;
    background:transparent url(../images/background1.png) no-repeat center fixed;
    font-size:15px;
    color:#fff;
    position: relative;
}
.register{
    position: absolute;
    left:35%;
    top:10%;
    background: rgba(0,0,0,0.4);
    width: 500px;
    height: 700px;
    border-radius:50px;
}
.register:hover{
    box-shadow:0px 0px 40px 8px rgb(133, 177, 226);
    transition:all 0.5s;
}
.reg_hd{
    text-align: center;
    font-size:40px;
    padding:6px;
}
.reg_bd{
    width: 600px;
    margin:50px auto 0;
}
.reg_bd ul li{
    margin-bottom:50px;
}
.reg_bd li label{
    display: inline-block;
    width: 130px;
    text-align: right;
}
.reg_bd ul li .inp{
    width: 250px;
    height: 37px;
    border:1px solid #ccc;
    border-radius:6px;
}
.agree{
    padding-left: 180px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color:#1ba1e6;
}
.btn{
    width: 170px;
    height: 40px;
    background-color: #57a2f8;
    font-size: 18px;
    color:#fff;
    margin:30px 0 0 160px;
    border-radius:20px;
}
.sign_in{
    margin-left:360px;
}
.sign_in a{
    color:#1ba1e6;
}